In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv("/content/BuyerRatio.csv")

In [3]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
stats.norm.cdf(0.05,loc=98,scale=45)-stats.norm.cdf(0.05,loc=433,scale=99)

0.014746602526182578